
{% extends "user/base_dash.html" %}
{% block content %}
{% load static %}

<!-- <h1>Dashboard</h1> -->
<div class="moreimp">
    <div class="fuild-container">
        <div class="r">Share your monthly experience of being a CR of Abhyuday, 
            IIT Bombay here and earn 25 points ( 100 words minimum) 
            </div>
        
            <form action="{% url 'blog' id=id %}" method="post">
                {% csrf_token %}
                <div class="inner-blog">
                    <input type="hidden" name="name" value="{{name}}">
                    <input type="hidden" name="crid" value="{{crid}}">
                    <textarea name="message" id="" cols="30" rows="10" style="color:white;"></textarea>
                    <button id="blog-bt" type="submit">Send</button>
                </div>
            </form>
    </div>

</div>



{% endblock content %}
