{% load static %}
{% load socialaccount %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>


<body>
  {% if user.is_authenticated %}
  {% if user.first_name == "" %}
  <div class="moreimp">
  <h2>Session expired</h2>
  <a href="{% provider_login_url 'google' %}"><h4>Please Login</h4></a>
  </div>
  {% else %}
  <div class="moreimp">
    <p>Welcome, <b>{{ user.first_name }}</b> !</p>
    <p> <a href="dashboard/{{ user.id }}">
        <button id="bt" type="submit">Enter the Dashboard</button>
      </a></p>

    {% endif %}
    {% else %}

  
    <main>
      <section class="new">

      
          
          <form action="{% provider_login_url 'google' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="signup-button">
              <span class="button-text">
                SIGN IN
              </span>
            </button>
          </form>
       
        </div>
      
     

    {% endif %}

</body>




</html>