{% load static %}
{% load socialaccount %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CR Portal</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/black1.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  </head>
  <body>
    {% if user.is_authenticated %}
        {% if user.first_name == "" %}
            Session expired
            <a href="{% provider_login_url 'google' %}">Please Login</a>
        {% else %}
          <p>Welcome, {{ user.first_name }} !</p>
          <form action="confirm" method="post">
            {% csrf_token %}
            <input type="hidden" name="name" value={{ user.first_name }} >
            <input type="hidden" name="email" value={{ user.email }} >
            <button class="btn btn-outline-success" type="submit">Join the Program</button>
          </form>
          <a href="{% url 'account_logout' %}" class="btn btn-outline-success">Logout</a>
        
        {% endif %}
        {% else %}
        <div class="fluid-container">
            <canvas id="c"></canvas>
            <div class="home">
              <div class="cont ">
                <nav class="navbar navbar-expand-lg bg-dark">
                  <div class="container-fluid">
                    <div class="logo">
                      <img src="{% static 'images/abhyuday logo.png' %}" id="resl" alt="" >
                    </div>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0 " >
                        <li class="nav-item">
                          <a class="nav-link tabs" aria-current="page" href="#" style="color: white;">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link tabs" href="#about" style="color: white;">About</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link tabs" href="#incenti" style="color: white;">Incentives</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link tabs" href="#faq" style="color: white;">FAQ'S</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link tabs" href="#test" style="color: white;">Testimonials</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link tabs" href="#cont" style="color: white;">Contact</a>
                        </li>
                        
                        
                      </ul>
                      
                    </div>
                  </div>
                </nav>
              </div>
              <div class="contain">
                <span id="box" class="random one"></span>
                <div class="row uphead">
                  College
                </div>
                <div class="row uphead">
                  Representative
                </div>
                <div class="row sub-head">
                  Student internship program which brings together socially active 
                  students across India and lead them towards building better society
                </div>
              </div>
              
              <div class="btn">
                <a href="{% provider_login_url 'google' %}" id="bt" style="text-decoration: none;">
                  Sign in
                </a>
              </div>
              <img src="{% static 'images/grid.png' %}" id="mobg"  alt="">
              <img src="{% static 'images/home.png' %}" width="500"  alt="" id="mobh">
            </div>
            
            <!-- About  -->
            <div class="about" id="about">
              <div class="row head">
                ABOUT US
              </div>
              <div class="row kaam">
                Abhyuday, IIT Bombay  is a student-run organization working
                towards creating a sense of social responsibiltiy and leadership
                among the youth of India. 
              </div>
              <div class="row tum display-flex justify-content-center">
                What is in it for you?
              </div>
              <div class="row">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <!-- <img src="..." class="d-block w-100" alt="..."> -->
                      <div class="row mobr" >
                        <div class="col  kya ">
                          <div class="upar">
                            Upstance your skillset
                          </div>
                          <div class="niche">
                            Develop your personality,
                            enhance your management 
                            skills, public speaking skills 
                            & most importantly team spirit
                          </div>
                        </div>
                        <div class="col  kya">
                          <div class="upar">
                            Strengthen your Network
                          </div>
                          <div class="niche">
                            connect with various college 
                            students across India and 
                            build new networking 
                            opportunities within IIT 
                            Bombay
    
                          </div>
                        </div>
                        <div class="col kya">
                          <div class="upar">
                            Be the face of your college
                          </div>
                          <div class="niche">
                            represent your college in a nationwide program
    
                          </div>
                        </div>
                       
                      </div>
                    </div>
                    <div class="carousel-item">
                      <!-- <img src="..." class="d-block w-100" alt="..."> -->
                      <div class="row mobr" >
                        <div class="col kya">
                          <div class="upar">
                            Boost your employability
                          </div>
                          <div class="niche">
                            Chance to win letter of 
                                recommendation from 
                                Abhyuday, IIT Bombay & 
                                outshine your resume
    
                          </div>
                        </div>
                        <div class="col kya">
                          <div class="upar">
                            Create a difference
                          </div>
                          <div class="niche">
                            Orchestrate various social 
    initiatives & campaign to create
     a strong impact in the lives 
    of people around you
    
                          </div>
                        </div>
                        <div class="col kya">
                          <div class="upar">
                            Bring a smile on someones 
    face
                          </div>
                          <div class="niche">
                            You will realize that bringing 
    a smile on someone’s face 
    is highly satisfying. You just have 
    to take the first step towards it
    
                          </div>
                        </div>
                       
                      </div>
    
                    </div>
                    
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
            <img src="{% static 'images/aboutli.png' %}" id="moba"  alt="">
    
            <div class="responsibilities">
              <div class="row head " id="test " style="--bs-gutter-x: 0;">Responsibilities</div>
              <div class="row " style="--bs-gutter-x: 0;">
               <div class="col-3 respo">
                <div class="dekh">Social Awareness</div>
                <div class="padh">Put your thinking cap on and come 
                  up with innovative ideas to reach 
                  out to more people in order to magnify 
                  the impact on the society  </div>
               </div>
              </div>
              <div class="row " id="mcord">
                <div class="col-3 respo center ">
                  <div class="dekh">Coordination</div>
                  <div class="padh">Immense oppurtunities to coordinate
                    with Abhyuday team in multi city campaigns 
                    and learn under the guidance of mentors of Abhyuday IIT Bombay </div>
                 </div>
                </div>
                <div class="row " id="mlead">
                  <div class="col-3 respo ">
                    <div class="dekh">Leadership</div>
                    <div class="padh">Ideate, plan and execute events, campaigns 
                      and competitions in your college with the assisstance of Abhyuday IIT Bombay </div>
                   </div>
                  </div>
                </div>
              </div>
              <img src="{% static 'images/incenli.png' %}" width="1000"   id="incen" alt="">
            <!-- Incentives -->
            <div class="incentive" id="incenti">
              <h1>Incentives</h1>
              <div class="row " style="display:flex;--bs-gutter-x: 0; padding: 0 7vh;">
                <div class="col">
    
                </div>
                <div class="col">
    
                </div>
                <div class="col">
    
                </div>
                <div class="col">
    
                </div>
              </div>
              <div class="row " style="--bs-gutter-x: 0; padding: 0 7vh;">
                <div class="col">
    
                </div>
                <div class="col">
    
                </div>
                <div class="col">
    
                </div>
                <div class="col">
    
                </div>
              </div>
              
              <span id="box2" class="random two"></span>
              <div class="structure">
                <!-- <img src="{% static 'images/side.png' %}" id="side" alt="" height="500"> -->
                <div class="row headc display-flex justify-content-center" >
                  STRUCTURE
                </div>
                <div class="row my-3" style="--bs-gutter-x: 0; ">
                  <div class="col-12" id="sam1">Sign in to be a CR</div>
                  <div class="col-lg-7 col-sm-12 ab"> Click the sign in button on the home page and fill in the 
                    details to get registered as a college representative.
                    </div>
                </div>
                <div class="row my-3" style="--bs-gutter-x: 0; ">
                  <div class="col-12" id="sam2">Form a Team</div>
                  <div class="col-lg-7 col-sm-12 ab"> Go through the details of How to form a team in the 
                    next slide below and follow the steps as mentioned.
                    
                    </div>
                </div>
                <div class="row my-3" style="--bs-gutter-x: 0; ">
                  <div class="col-12" id="sam1">Complete the given tasks</div>
                  <div class="col-lg-7 col-sm-12 ab"> After you form a team,you would be given various 
                    tasks which have to be finished within the given time interval.
                    </div>
                </div>
                <div class="row my-3" style="--bs-gutter-x: 0; ">
                  <div class="col-12" id="sam2">Earn rewards and incentives</div>
                  <div class="col-lg-7 col-sm-12 ab"> As mentioned before,finish the tasks and bag in various 
                    incentives,certificates,internship opportunities,exciting gifts and coupons.
                    </div>
                </div>
              </div>
              </div>
    
            <!-- </div> -->
            <img src="{% static 'images/htbli.png' %}" width="800" alt="" id="mht" >
            <div class="htbit" >
              <div class="row headc etc justify-content-center display-flex" style="--bs-gutter-x: 0; padding-top:5vh ">HOW TO BE IN A TEAM</div>
              <div class="row team-head justify-content-center display-flex" style="--bs-gutter-x: 0 ;">This time we are conducting the CR Program in a team mode. </div>
              <div class="row team-head justify-content-center display-flex" style="--bs-gutter-x: 0 ;">          To participate in a team with your friends,
              </div>
              <div class="row team-head justify-content-center display-flex" style="--bs-gutter-x: 0 ;">Follow these simple steps : </div>
              <div class="dekh le">To create a team:</div>
              <div class=" point">
                <div class="pointer"> >> </div>
                <div class="team-head">Register individually using google sign in. Click here
                </div>
              </div>
              <div class=" point">
                <div class="pointer"> >> </div>
                <div class="team-head">Get your teammates registered on the portal too!
    
                </div>
              </div>
              <div class=" point">
                <div class="pointer"> >> </div>
                <div class="team-head" >Click on the “Create Team” button on the portal. Now add 
                  your friend's details like Name,CR ID,Mobile number and 
                  email id with which they have registered as a CR .
                </div>
              </div>
              <div class=" point">
                <div class="pointer"> >> </div>
                <div class="team-head" >Your Teammate will receive the notification on their profile.
                  Once they accept, they will be a part of your team
                </div>
              </div>
    
              <img src="{% static 'images/sqci.png' %}" width="500" id="msq"  alt="">
    
              <div class="dekh le" >To get added in someone’s team :</div>
              <div class=" point">
                <div class="pointer purple"> >> </div>
                <div class="team-head">Simply register using google sign in. Click here
                </div>
              </div>
              <div class=" point">
                <div class="pointer purple"> >> </div>
                <div class="team-head">To be added in someone's team you don't need to click on create team
    
                </div>
              </div>
              <div class=" point">
                <div class="pointer purple"> >> </div>
                <div class="team-head" >Use the bell icon to check notification requesting you to join the team
    
                </div>
              </div>
              <div class=" point">
                <div class="pointer purple"> >> </div>
                <div class="team-head" >Accept the request to become part of the team
    
                </div>
              </div>
              <div class="team-head" id="mno" >NOTE : Clicking on "Create Team" button will disallow you from being a part of another team. 
                Click on this button only when you are setting up your own team for the first time. 
                Once part of a team no further notifications will be received</div>
              
    
            </div>
            <div class="faq" id="faq">
              <img src="{% static 'images/aboutli.png' %}" id="mfq"  alt="">
              <div class="row head" style="padding-top: 5vh;">FAQ'S</div>
              <div class="point">
                <div class="outer">
                  <div class="question">?</div>
                </div>
                <div class="puribaat">
                  <div class="prashna">What can be the size of the team?</div>
                  <div class="uttar">Minimum 2 - maximum 4</div>
                </div>
              </div>
              <div class="point">
                <div class="outer">
                  <div class="question">?</div>
                </div>
                <div class="puribaat">
                  <div class="prashna">Should all the team members need to be from the same college?</div>
                  <div class="uttar">Yes, team members should be from the same college.</div>
                </div>
              </div>
              <div class="point">
                <div class="outer">
                  <div class="question">?</div>
                </div>
                <div class="puribaat">
                  <div class="prashna">If I am the only person from my college can I still participate in the program?</div>
                  <div class="uttar">Yes! You can participate but try to convince your friends to be part of your
                    team because the tasks will demand additional assistance. In case you
                    don't find anyone, don't worry we will help you out.</div>
                </div>
              </div>
              <div class="point">
                <div class="outer">
                  <div class="question">?</div>
                </div>
                <div class="puribaat">
                  <div class="prashna">Can I add teammates who have not registered on the portal?</div>
                  <div class="uttar">No! you can add only those in your team who have registered on the portal.</div>
                </div>
              </div>
              <div class="point">
                <div class="outer">
                  <div class="question">?</div>
                </div>
                <div class="puribaat">
                  <div class="prashna">How long will this tenure be?</div>
                  <div class="uttar">The official tenure will run from around 6 months. You may take a break
                    in between if you need so. This is the time when the CR is expected to
                    complete the tasks given and claim the rewards and incentives we provide.</div>
                </div>
              </div>
              <div class="point">
                <div class="outer">
                  <div class="question">?</div>
                </div>
                <div class="puribaat">
                  <div class="prashna">What is the eligibility criteria for becoming CR?</div>
                  <div class="uttar">Students from any college, stream, branch can register for the CR program.</div>
                </div>
              </div>
              <div class="point">
                <div class="outer">
                  <div class="question">?</div>
                </div>
                <div class="puribaat">
                  <div class="prashna">How much time do we have to invest?</div>
                  <div class="uttar">On an average, 1 to 2 hours of work weekly would suffice. You can choose
                    your own hours!</div>
                </div>
              </div>
              <div class="point">
                <div class="outer">
                  <div class="question">?</div>
                </div>
                <div class="puribaat">
                  <div class="prashna">How will I get my incentives?</div>
                  <div class="uttar">The majority of incentives will be shared via online mode and in some
                    cases, we might courier it to your address.</div>
                </div>
              </div>
              <div class="point">
                <div class="outer">
                  <div class="question">?</div>
                </div>
                <div class="puribaat">
                  <div class="prashna">Can I work from home?</div>
                  <div class="uttar">Yes, you can work from home.</div>
                </div>
              </div>
    
              <div class="row headc extt display-flex justify-content-center" style="padding-top: 5vh;" id="test">Testimonials</div>
              <img src="{% static 'images/pyra.png' %}" id="mpy"  width="400" alt="">
              <div class="row bahar">
                <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active ">
                      <div class="testi">
      
                      </div>
                    </div>
                    <div class="carousel-item ">
                      <div class="testi">
      
                      </div>
                    </div>
                    <div class="carousel-item ">
                      <div class="testi">
      
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
    
              </div>
                
              <div class="contact" id="cont">
                <div class="row  hetco  extt display-flex justify-content-center">CONTACT US</div>
                <div class="row sampark display-flex justify-content-center">Feel free to reach out to us via call or text
                </div>
    
                <div class="row" style="margin-top: 3vh;">
                  <div class="col-lg-6 col-sm-12" style="display: flex; align-items: center;flex-direction:column;">
                    <div class="manager">
                      Ashutosh Khandare
                    </div>
                    <div class="post">
                      Media and PR Manager
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12" style="display: flex; align-items: center;flex-direction:column;">
                    <div class="manager">
                      Tharani Ponnada
                    </div>
                    <div class="post">
                      Media and PR Manager
                    </div>
                  </div>
                </div>
    
                <div class="row sadh">
                  <div class="location">
                    <div class="icon"><img src="{% static 'images/pin.png' %}" class="mloc" alt=""></div>
                    <div class="yele">Student Activity Centre, IIT Bombay
                      Powai, Mumbai, PIN - 40007</div>
                  </div>
                  <div class="location">
                    <div class="icon"><img src="{% static 'images/email.png' %}" class="mloc" alt=""></div>
                    <div class="yele">crprogram.abhyudayiitb@gmail.com</div>
                  </div>
                  <div class="location">
                    <div class="icon"><img src="{% static 'images/phone-.png' %}" class="mloc" alt=""></div>
                    <div class="yele">+91 9890398576</div>
                  </div>
                </div>
              </div>
           
            
                      
            </div>
          </div>
        </div>
          
        
        {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r125/three.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
  


</html>