{% load static %}
{% load socialaccount %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CR Portal</title>
  <link rel="icon" type="image/x-icon" href="{% static 'images/black1.png' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
  .col69 {
    height: 30vh;
    margin: 3vh;
    width: 25%;
  }

  @media screen and (max-width:425px) {
    .col69 {
      height: 29vh;
      width: 62%;
    }
  }
</style>
<script>
  window.onload = function(){
  const prevBtns = document.querySelectorAll(".btn-prev");
  const nextBtns = document.querySelectorAll(".btn-next");
  const step1 = document.querySelectorAll("#step1")
  const step2 = document.querySelectorAll("#step2")
  const step3 = document.querySelectorAll("#step3")
  const step4 = document.querySelectorAll("#step4")
  const progress = document.getElementById("progress");
  const formSteps = document.querySelectorAll(".form-step");
  const progressSteps = document.querySelectorAll(".progress-step");

console.log("HHELO: ",step1,prevBtns, nextBtns, progressSteps, progress, formSteps);
let formStepsNum = 0;

nextBtns.forEach((btn) => {
  btn.addEventListener("click", (e) => {
    if(e.target.id === "step1"){
      formStepsNum = 0;
    }
    else if (e.target.id === "step2"){
      formStepsNum = 1;
    }
    else if (e.target.id === "step3"){
      formStepsNum = 2;
    }
    else if (e.target.id === "step4"){
      formStepsNum = 3;
    }
    // formStepsNum = e.target.innerHTML;
    console.log("This is forms step number: ",e.target.id);
    updateFormSteps();
    updateProgressbar();
  });
});

prevBtns.forEach((btn) => {
  btn.addEventListener("click", () => {
    formStepsNum--;
    updateFormSteps();
    updateProgressbar();
  });
});

function updateFormSteps() {
  formSteps.forEach((formStep) => {
    formStep.classList.contains("form-step-active") &&
      formStep.classList.remove("form-step-active");
  });

  formSteps[formStepsNum].classList.add("form-step-active");
}

function updateProgressbar() {
  progressSteps.forEach((progressStep, idx) => {
    if (idx < formStepsNum + 1) {
      progressStep.classList.add("progress-step-active");
    } else {
      progressStep.classList.remove("progress-step-active");
    }
  });

  const progressActive = document.querySelectorAll(".progress-step-active");

  progress.style.width =
    ((progressActive.length - 1) / (progressSteps.length - 1)) * 100 + "%";
}
let el1 = document.getElementById("s-1");
  let el2 = document.getElementById("s-2");
  let el3 = document.getElementById("s-3");
  let el4 = document.getElementById("s-4");
  let s1 = document.getElementById("s-pop-1")
  let s2 = document.getElementById("s-pop-2")
  let s3 = document.getElementById("s-pop-3")
  let s4 = document.getElementById("s-pop-4")
  console.log("el1: ", el1);
  // el1.onclick.addEventListener
  el1.addEventListener('click', function(){ 
    if(s1.classList[1] === "s-pop-1"){
      s1.classList.remove("s-pop-1");
    }
    else{
      s1?.classList.add("s-pop-1");
    }
   });
  el2.addEventListener('click', function(){ 
    if(s2.classList[1] === "s-pop-2"){
      s2.classList.remove("s-pop-2");
    }
    else{
      s2?.classList.add("s-pop-2");
    }
   });
  el3.addEventListener('click', function(){ 
    if(s3.classList[1] === "s-pop-3"){
      s3.classList.remove("s-pop-3");
    }
    else{
      s3?.classList.add("s-pop-3");
    }
   });
  el4.addEventListener('click', function(){ 
    if(s4.classList[1] === "s-pop-4"){
      s4.classList.remove("s-pop-4");
    }
    else{
      s4?.classList.add("s-pop-4");
    }
   });
   addEventListener("scroll", (event) => {});
   var body = document.body,
    html = document.documentElement;
    var height = Math.max( body.scrollHeight, body.offsetHeight, 
    html.clientHeight, html.scrollHeight, html.offsetHeight );
    let car = document.getElementById("car");
    console.log("HEIGHT",height)
    var trackingLine = document.getElementById("tracking-line");
    var trackingLineHeight = height - 0.15 * height  + "px"
    trackingLine.style.height = trackingLineHeight;
    console.log("TRACKING LINE HEIGHT",trackingLineHeight);
onscroll = (event) => {
  // console.log("SCROLLED: ",window.scrollY, height);
  if(window.scrollY > window.innerHeight + 100){
    car.style.display= "block";
  }
  if(window.scrollY < window.innerHeight + 500){
    car.style.display= "none";
  }
  // if(window.scrollY > height - 1000){
  //   car.style.display= "none";
  // }
};
  }
  // window.onload = function(){
  //   const stepper = document.getElementById('stepper')
  //   const stepper2 = document.getElementById('stepper2')
  //   const stepper3 = document.getElementById('stepper3')
  //   const stepper4 = document.getElementById('stepper4')
  //   console.log(stepper)
  //   const myTimeout = setTimeout(firststep, 2000);
  //   const sec_myTimeout = setTimeout(secondstep, 3000);
  //   const third_myTimeout = setTimeout(thirdstep, 4000);
  //   const fourth_myTimeout = setTimeout(fourthstep, 5000);
  
  // function firststep() {
  //   console.log(stepper.classList.add("is-active"))
  // } 
  // function secondstep() {
  //   console.log(stepper2.classList.add("is-active"))
  // } 
  // function thirdstep() {
  //   console.log(stepper3.classList.add("is-active"))
  // } 
  // function fourthstep() {
  //   console.log(stepper4.classList.add("is-active"))
  // } 
  // }


</script>
<body>
  {% if user.is_authenticated %}
  {% if user.first_name == "" %}
  <div class="moreimp">
  <h2>Session expired</h2>
  <a href="{% provider_login_url 'google' %}"><h4>Please Login</h4></a>
  </div>
  {% else %}
  <div class="moreimp">
    <p>Welcome, <b>{{ user.first_name }}</b> !</p>
    <p> <a href="dashboard/{{ user.id }}">
        <button id="bt" type="submit">Enter the Dashboard</button>
      </a></p>

    {% endif %}
    {% else %}

    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="https://www.abhyudayiitb.org/"><img id="logo" src="../../static/images/logo.png" class="logo-img" alt="" /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#incentive">Incentives</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#faq">FAQs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#join">Join Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="new">

        <div class="d-flex flex-column hero-img" style="background: black;">
          <h1 class="hero-heading text-dark">COLLEGE REPRESENTATIVE PROGRAM</h1>
          <img src="../../static/images/car_image.png" class="hero-image" alt="">
          
          <form action="{% provider_login_url 'google' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="signup-button">
              <span class="button-text">
                SIGN IN
              </span>
            </button>
          </form>
          <!-- <button type="submit" id="bt" class="signup-button">
            <span class="button-text">
              SIGN IN
            </span>
          </button> -->
        </div>
      </section>
      <div class="tracking">
        <img src="/static/images/track-line.png" alt="" class="tracking-line" id="tracking-line">
      </div>
      <img src="/static/images/car.png" alt="" id="car" class="car">
      <section class="about-section" id="about">
        <h2 class="text-white about-heading">ABOUT US</h2>
        <div class="about-paragraph">
          Abhyuday, IIT Bombay is a student-run organisation working towards creating a sense of Social Responsibility and Leadership among the youth of India.
        </div>
        
        <h2 class="text-white about-heading">WHAT IS CR PROGRAM?</h2>
        <div class="cr-paragraph">
          The College Representative program of Abhyuday, IIT Bombay is a student-led initiative promoting social change
          among college students in India. Representatives raise awareness, organize events, and mobilize students to
          address issues like education, health, and gender equality. The program provides leadership training,
          resources, and a network for impactful community engagement. It empowers students to create positive change
          while fostering empathy and understanding of social challenges.
        </div>
      </section>
      <section class="wify-section">
        <h2 class="text-center text-white wify-heading">WHAT'S IN FOR YOU?</h2>
        <div class="css-grid">
          <div class="flip">
            <div class="front">
              <div class="card" style="width: 22vw;">
                <img src="/static/images/1.png" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="back">
              <h2 class="back-heading">
                UPSTANCE YOUR SKILL SET
              </h2>
              <p class="back-para">
                Enhance your management skills, public speaking skills, and team spirit
              </p>
            </div>
          </div>
          <div class="flip">
            <div class="front">
              <div class="card" style="width: 22vw;">
                <img src="/static/images/2.png" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="back">
            <h2 class="back-heading">
              STRENGTHEN YOUR NETWORK 
            </h2>
            <p class="back-para">
              Connect with college students across India and build a network within IIT Bombay
            </p>
            </div>
          </div>
          <div class="flip">
            <div class="front">
              <div class="card" style="width: 22vw;">
                <img src="/static/images/3.png" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="back">
            <h2 class="back-heading">
              BE THE FACE OF YOUR COLLEGE
            </h2>
            <p class="back-para">
              Become a leader by representing your college in a nationwide program
            </p>
            </div>
          </div>
          <div class="flip">
            <div class="front">
              <div class="card" style="width: 22vw;">
                <img src="/static/images/4.png" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="back">
            <h2 class="back-heading">
              BOOST YOUR EMPLOYABILITY 
            </h2>
            <p class="back-para">
              Get a chance to win letters of recommendation and enhance your resume
            </p>
            </div>
          </div>
          <div class="flip">
            <div class="front">
              <div class="card" style="width: 22vw;">
                <img src="/static/images/5.png" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="back">
            <h2 class="back-heading">
              CREATE A DIFFERENCE
            </h2>
            <p class="back-para">
              Orchestrate various social initiatives & campaigns to create a positive impact 
            </p>
            </div>
          </div>
          <div class="flip">
            <div class="front">
              <div class="card" style="width: 22vw;">
                <img src="/static/images/6.png" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="back">
            <h2 class="back-heading">
              BRING A SMILE ON SOMEONE’S FACE 
            </h2>
            <p class="back-para">
              Discover the profound satisfaction of helping the underprivileged
            </p>
            </div>
          </div>
        </div>
      </section>
      <section class="structure-section" id="join">
        <h2 class="text-center text-white structure-heading">STRUCTURE</h2>
        <div class="structure-paragraph text-center">
          <img class="str-img" src="/static/images/structure_1.png" alt="">
          <h3 class="s-1" id="s-pop-1"><button id="s-1">Sign in to be a CR</button></h3>
          <h3 class="s-2" id="s-pop-2"><button id="s-2">Choose whether you want to work as an individual or in a team</button></h3>
          <h3 class="s-3" id="s-pop-3"><button id="s-3">Accomplish the assigned task</button></h3>
          <h3 class="s-4" id="s-pop-4"><button id="s-4">Get Rewards</button></h3>
        </div>
      </section>
      <section class="team-section">
        <h2 class="text-center text-white team-heading">HOW TO CREATE A TEAM</h2>
        <div class="mygrid">
          <div class="card">
            <div class="card-body">
              <div class="card-img">
                <img src="/static/images/step1.png" class="mycard-img" alt="...">
              </div>
              <div class="card-text">Register individually using google sign in. Click here</div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="card-img">
                <img src="/static/images/step2.png" class="mycard-img" alt="...">
              </div>
              <div class="card-text">Get your teammates registered on the portal too!</div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="card-img">
                <img src="/static/images/step3.png" class="mycard-img" alt="...">
              </div>
              <div class="card-text">One of you as the Team Leader form your team by clicking on the “Create Team” button on the portal. Now add your team members' details  with which they have registered as a CR.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="card-img">
                <img src="/static/images/step4.png" class="mycard-img" alt="...">
              </div>
              <div class="card-text">On forming your team, Team ID will be generated for the leaderboard</div>
            </div>
          </div>
        </div>
        <!-- <div class="team-grid">
          <div class="card bg-transparent text-white" style="width: 10rem; border: none !important;">
            <img src="/static/images/step1.png" class="card-img-top" alt="...">
            <div class="card-body" style="width:20vw !important; padding-left: 0 !important; font-size: 2vw">
              <p class="card-text">Register individually using google sign in. Click here</p>
            </div>
          </div>
          <div class="card bg-transparent text-white" style="width: 10rem; border: none !important;">
            <img src="/static/images/step2.png" class="card-img-top" alt="...">
            <div class="card-body" style="width:20vw !important; padding-left: 0 !important; font-size: 2vw">
              <p class="card-text">Get your teammates registered on the portal too!</p>
            </div>
          </div>
          <div class="card bg-transparent text-white" style="width: 10rem; border: none !important;">
            <img src="/static/images/step3.png" class="card-img-top" alt="...">
            <div class="card-body" style="width:30vw !important; padding-left: 0 !important; font-size: 2vw">
              <p class="card-text">One of you as the Team Leader form your team by clicking on the “Create Team” button on the portal. Now add your team members' details  with which they have registered as a CR.</p>
            </div>
          </div>
          <div class="card bg-transparent text-white" style="width: 10rem; border: none !important;">
            <img src="/static/images/step4.png" class="card-img-top" alt="...">
            <div class="card-body" style="width:30vw !important; padding-left: 0 !important; font-size: 2vw">
              <p class="card-text">On forming your team, Team ID will be generated for the leaderboard</p>
            </div>
          </div>
        </div> -->
      </section>
      <!-- https://codepen.io/bobiblazeski/pen/KpzpBQ -->
      <section class="resp-section">
        <h1 class="text-white text-center resp-heading">RESPONSIBILITIES</h1>
        <!-- <h2 class="text-center text-white resp-heading">RESPONSIBILITIES</h2> -->
        <!-- <div class="resp-paragraph text-center"> -->

        </div>
      </section>
      <section class="stepsec">
        <form action="#" class="form">
          <!-- Steps -->
          <div class="form-step form-step-active">
            <div class="text-center step-content">
              <h2 class="text-center stepper-f-heading">What responsibilities you got</h2>
            </div>
            <!-- <div class="">
              <a class="btn btn-next width-50 ml-auto">Next</a>
            </div> -->
          </div>
          <div class="form-step">
            <div class="text-center step-content">
              <h2 class="text-center stepper-heading marker">Social Awareness</h2>
              <p class="stepper-para">
                Put your thinking cap on and come up with innovative ideas to reach out to more people in order to magnify the impact on society
              </p>
            </div>
          </div>
          <div class="form-step">
            <div class="text-center">
              <h2 class="text-center stepper-heading">Coordination</h2>
              <p class="stepper-para">
                Immense opportunities to coordinate with Abhyuday team in multi-city campaigns and learn under the guidance of mentors from Abhyuday, IIT Bombay
              </p>
            </div>
          </div>
          <div class="form-step text-center">
            <h2 class="text-center stepper-heading">Leadership</h2>
            <p class="stepper-para">
              Ideate, plan and execute events,
              campaigns and competitions in your
              college with the assistance of Abhyuday, IIT Bombay
            </p>
          </div>

          <!-- Progress bar -->
          <div class="progressbar">
            <div class="progress" id="progress"></div>
          <a class="btn-next">
            <div
              class="progress-step progress-step-active"
              id="step1"
            ></div>
          </a>
          <a class="btn-next">
            <div class="progress-step" id="step2"></div>
          </a>
          <a class="btn-next">
            <div class="progress-step" id="step3"></div>
          </a>
          <a class="btn-next">
            <div class="progress-step" id="step4"></div>
          </a>
          </div>
        </form>
      </section>
      <section class="incen-section" id="incentive">
        <h2 class="text-white about-heading text-center">INCENTIVES</h2>
        <div class="incen-div">
          <section>
            <div class="wrapper">
              <img src="/static/images/i1.png" />
              <img src="/static/images/i14.png" />
              <img src="/static/images/i15.png" />
              <img src="/static/images/i2.png" />
              <img src="/static/images/i3.png" />
              <img src="/static/images/i4.png" />
              <img src="/static/images/i5.png" />
              <img src="/static/images/i6.png" />
              <img src="/static/images/i7.png" />
              <img src="/static/images/i8.png" />
              <img src="/static/images/i9.png" />
              <img src="/static/images/i10.png" />
              <img src="/static/images/i11.png" />
              <img src="/static/images/i12.png" />
              <img src="/static/images/i13.png" />
              <!-- <img src="/static/images/i1.png" />
              <img src="/static/images/i1.png" />
              <img src="/static/images/i1.png" />
              <img src="/static/images/i1.png" /> -->
            </div>
          </section>
        </div>
      </section>
      <section class="faq-section" id="faq">
        <h2 class="text-white faq-heading text-center">FAQs</h2>
        <div class="faq-list">
          <ul>
            <li>
              <img src="/static/images/bullet.png" alt="" class="bullet">
              What can be the size of the team ?- <br>
              <div class="ans">Minimum 2 - maximum 4</div>
            </li>
            <li>
              <img src="/static/images/bullet.png" alt="" class="bullet">
              Should all the team members need to be from the same college ? <br>
              <div class="ans">Yes, team members should be from the same college</div>
            </li>
            <li>
              <img src="/static/images/bullet.png" alt="" class="bullet">
              If I'm the only person from my college can I still participate in the program ? <br>
              <div class="ans">Yes! You can participate. You can continue as an individual.</div>
            </li>
            <li>
              <img src="/static/images/bullet.png" alt="" class="bullet">
              Can I add teammates who have not registered on the portal ? <br>
              <div class="ans">No! You can add only those in your team who have registered on the portal</div>
            </li>
            <li>
              <img src="/static/images/bullet.png" alt="" class="bullet">
              How long will this tenure be ? <br>
              <div class="ans">The official tenure will range from around 6 months. You may take a break in between if you need so. This is the time when the CR is expected to complete the tasks given and claim the rewards and incentives we provide.</div>
            </li>
            <li>
              <img src="/static/images/bullet.png" alt="" class="bullet">
              How much time do I have to invest ? <br>
              <div class="ans">On an average, 1 to 2 hours of work weekly would suffice. You can choose your own hours!</div>
            </li>
            <li>
              <img src="/static/images/bullet.png" alt="" class="bullet">
              How will I get my incentives ? <br>
              <div class="ans">The majority of incentives will be shared via online mode and in div 
                cases, we might courier it to your address.</span>
            </li>
            <li>
              <img src="/static/images/bullet.png" alt="" class="bullet">
              Can I work from home ? <br>
              <div class="ans">Yes,you can work from home</div>
            </li>
            <li>
              <img src="/static/images/bullet.png" alt="" class="bullet">
              What is the eligibility criteria for becoming CR ? <br>
              <div class="ans">Students from any college, stream, year of college can register for the CR Program.</div>
            </li>
          </ul>
        </div>
      </section>
      <section style="background-color: black;" class="testi-sec">
        <h1 class="text-center text-white">TESTIMONIALS</h1>
        <div class="testi-block">
          <!-- <div class="mycontainer">
            CONTENT
          </div> -->
            <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner ">
                <div class="carousel-item active">
                  <div class="d-block">
                    <p>It was an awesome experience working as a CR under Abhyuday, IIT Bombay. It helped me to grow both as a person and as a student. After the successful completion of the internship you will receive the certificate, letter of recommendation and other attractive perks and internship opportunities. The 6 month internship program will really be a stepping stone to your future.</p>
                    <h5 class="testi-name text-center">Nidhuna Suraj</h5>
                    <p class="test-regination text-center">Campus Ambassador (2021-22)</p>
                  </div>
                </div>
                <div class="carousel-item ">
                  <div class="d-block">
                    <p>During my internship experience with ABHYUDAY, IIT Bombay I was able to develop my skills of active listening, planning ,organising and Management skills. I particularly found direct interactions with these middle school children to be useful in improving my understanding regarding the issues they face nowadays. Although I found group sessions to be challenging, I believe they were valuable in developing my confidence . This internship helped me to connect with more people and the webinar sessions we had was informative and each assignments that were provided to us was important to be addressed in recent times let it be the careear counseling sessions we conducted or Eco-drive. </p>
                    <p>This internship was such a valuable experience for me.</p>
                    <h5 class="testi-name text-center"><b>Punnya Gopi</b></h5>
                    <p class="test-regination text-center"><emph>Campus Ambassador (2021-22)</emph></p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

      </section>
      <section class="mediapartner">
        <h2 class="text-white media-heading text-center">MEDIA PARTNER</h2>
        <div class="mediabody">
          <div class="media-img">
            <img src="/static/images/eshway.png" class="mediaimg" alt="">
          </div>
          <div class="media-img">
            <img src="/static/images/m1.png" class="mediaimg" alt="">
          </div>
          <div class="media-img">
            <img src="/static/images/m2.png" class="mediaimg" alt="">
          </div>
          <div class="media-img">
            <img src="/static/images/m3.png" class="mediaimg" alt="">
          </div>
          <div class="media-img">
            <img src="/static/images/m4.png" class="mediaimg" alt="">
          </div>
          <div class="media-img">
            <img src="/static/images/m5.png" class="mediaimg" alt="">
          </div>
          <div class="media-img">
            <img src="/static/images/m9.png" class="mediaimg" alt="">
          </div>
          <div class="media-img">
            <img src="/static/images/m6.jpeg" class="mediaimg" alt="">
          </div>
          <div class="media-img">
            <img src="/static/images/m7.jpeg" class="mediaimg" alt="">
          </div>
          <div class="media-img">
            <img src="/static/images/m8.jpeg" class="mediaimg" alt="">
          </div>
        </div>
      </section>
      <section class="footer-section" id="contact">
        <h2 class="text-white footer-heading text-center">CONTACT US</h2>
        <div class="d-flex justify-content-between">
          <div class="text-white">
            <h2 class="text-white footer-heading">HARSHITA JAJU</h2>
            <p class="text-center footer-paragraph"><span style="font-size: 2vw;">Media and PR Head</span> <br>9823450114 | harshitajaju.abhyuday@gmail.com</p>
            
          </div>
          <div class="text-white">
            <h2 class="text-white footer-heading">RADHASREE THULA</h2>
            <p class="text-center footer-paragraph"><span style="font-size: 2vw;">Media and PR Head</span> <br>9392210065 | radhasreethula.abhyuday@gmail.com</p>
          </div>
        </div>
        <div class="text-center text-white">
          <h2 class="text-white footer-heading text-center">SAHIL SHEORAN</h2>
          <p class="text-center footer-paragraph"><span style="font-size: 2vw;">Media and PR Head</span> <br>8708260409 | sahil.abhyuday@gmail.com</p>
        </div>
        <div class="footer-paragraph text-center" style="font-size: 2vw;">
          Student Activity Center, IIT Bombay <br>Powai, Mumbai, Pin - 400076
        </div>
        <div class="social text-center">
          <a href="https://www.linkedin.com/company/abhyuday-iit-bombay/"><img src="/static/images/linkedin.png" class="social-img" alt=""></a>
          <a href="https://www.facebook.com/abhyuday.iitb/"><img src="/static/images/fb.png" class="social-img" alt=""></a>
          <a href="https://twitter.com/Abhyuday_IITB"><img src="/static/images/twitter.png" class="social-img" alt=""></a>
          <a href="https://instagram.com/iitbombay_abhyuday"><img src="/static/images/ig.png" class="social-img" alt=""></a>
        </div>
      </section>
    </main>
    <!-- <div class="btn">
      <form action="{% provider_login_url 'google' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" id="bt">Sign in</button>
                </form>
                </div> -->

    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"></script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r125/three.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>



</html>