
{% extends "user/base_dash.html" %}
{% block content %}
{% load static %}

<style>
    #showform{
        display: none;
    }
    label,input{
        color: black;
    }
    input{
        padding: 0;
    }
</style>
<!-- <h1>Dashboard</h1> -->
    
    <div class="moreimp" style="padding-top: 6vh;padding-bottom:6vh">
    <!-- <div class="fluid-container"> -->
        <!-- <img src="{% static 'images/prologo.png' %}" alt="" id="prologo"> -->
        <!-- <img src="{% static 'images/prow3.png' %}" alt="" id="prow3"> -->
        <!-- <img src="{% static 'images/prow4.png' %}" alt="" id="prow4"> -->
        <div class="inner-form">
            <div class="row display-flex justify-content-center fill">Your Profile</div>
            <div class="row display-flex">
                <div class="col-lg-3 col-sm-12 l">
                    Username: 
                </div>
                <div class="col-lg-8 col-sm-12 l">{{user.name}}</div>
            </div>
            <div class="row ">
                <div class="col-lg-3 col-sm-12 l">
                    College:
                </div>
                <div class="col-lg-8 col-sm-12 l">
                    {{user.college}}
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-3 col-sm-12 l">
                    Year of Study:

                </div>
                <div class="col-lg-8 col-sm-12 l">
                    {{user.year}}
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-3 l">

                    City:
                </div>
                <div class="col-lg-8 l">
                    {{user.district}}
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-3 l">

                    State:
                </div>
                <div class="col-lg-8 l">
                    {{user.state}}
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-3 l">
                    Mobile:

                </div>
                <div class="col-lg-8 l">
                    {{user.phone}}
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-3 l">
                    Whatsapp Number:

                </div>
                <div class="col-lg-8 l">
                    {{user.whatsapp}}
                </div>
            </div>

            
           

        

</div>





{% endblock content %}
