{% extends "user/base_dash.html" %}
{% block content %}
{% load static %}

    <div class="moreimp">
      {% if in_team == True %}
      <h4>You are already in a team. You will no longer be able to get team formation request</h4>
    {% else %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sent by </th>
        <th scope="col" colspan="2">Action </th>

      </tr>
    </thead>
    <tbody>
        {% for invite in invite %}
                
        <tr>
          <th>{{ forloop.counter }}</th>
          <td>{{ invite.sender_name}}</td>
          {% if invite.status == False and invite.decline == False %}
          <td><a href="{% url 'accept' id invite.receiver invite.sender_cr_id %}"><button id="blog-bt1"><img src="{% static 'images/tick.png' %}" class="symb" alt=""> Accept</button></a></td>
          <td><a href="{% url 'reject' id invite.receiver invite.sender_cr_id %}"><button id="blog-bt1"><img src="{% static 'images/cross.png' %}" class="symb" alt=""> Decline</button></a></td>
          
          {% else %}
          {% if invite.status == True %}
          <td>Accepted</td>
          {% endif %}
          {% if invite.decline == True %}
          <td>Rejected</td>
          {% endif %}
          {% endif %}

        </tr>
        
        {% endfor %}
    </tbody>
  </table>
    {% endif %}
    </div>
    
      
  </div>
    
{% endblock content %}    


    
       
    
   
