
{% extends "user/base_dash.html" %}
{% block content %}
{% load static %}

<div class="moreimp">
    {% if task == True %}
    <img src="{% static 'images/tick.png' %}" alt="" class="symb">&nbsp;&nbsp;&nbsp;&nbsp;TASK 1 IS DONE
            {% else %}
    {% comment %} <img src="{% static 'images/clock.png' %}" alt="" class="symb">  pendin {% endcomment %}

    <h2>Task 1 Submission </h2>
    <h4>Proof Submission:</h4>
    <form action="{% url 'task1' id=id %}" method="post">
        {% csrf_token %}
        <textarea name="proof" id="" style="color:white;" cols="30" rows="10" placeholder="Enter your google drive link here"></textarea>
        <button type="submit" class="btn btn-primary" style="display:block">Submit</button>
    </form>
{% if inteam == False %}
        Proof Verification Status :
        {% if task == True %}
<img src="{% static 'images/tick.png' %}" alt="" class="symb">  Approved
        {% else %}
<img src="{% static 'images/clock.png' %}" alt="" class="symb">  pending
        {% endif %}
    {% else %}
        {% if inteam == True and teamform == True %}
        Proof Verification Status :
            {% if task == True %}
<img src="{% static 'images/tick.png' %}" alt="" class="symb">   Approved
            {% else %}
<img src="{% static 'images/clock.png' %}" alt="" class="symb">   pending
            {% endif %}
	{% else %}
Your are in team formation process kindly form the team and then do the task!
        {% endif %}
    {% endif %}
</div>
{%endif%}
{% endblock content %}
