{% extends "user/base_dash.html" %}
{% block content %}
{% load static %}

{% if team_status == True %}
<div class="r">
    Your Team 
    <p style="float: right; padding-right:10vw;">Status: {{team_status}} </p> 

</div>
<div class="a">
    <div class="row">
        <div class="col-3">Team Name :</div>
        <div class="col-9" id="ref" style="width: 50%;">{{teamname}}</div>
    </div>
    <div class="row">
        <div class="col-3">Team Leader :</div>
        <div class="col-9" id="ref" style="width: 50%;">{{leader}} {{leader_id}}</div>
    </div>
    {% for teamreg in teamreg  %}
    <div class="row">
        <div class="col-3">Member {{forloop.counter}} :</div>
        <div class="col-9" id="ref" style="width: 50%;">{{teamreg.receiver}} | Status : {{teamreg.status}}</div>
    </div>
      
    
    {% endfor %}
</div>


{% else %}
<div class="r">
    Team Formation status
    <p style="float: right; padding-right:10vw;">Status: {{team_status}} </p> 
</div>
<div class="a">
    <div class="row">
        <div class="col-3">Team Name :</div>
        <div class="col-9" id="ref" style="width: 50%;">{{teamname}}</div>
    </div>
    <div class="row">
        <div class="col-3">Team Leader :</div>
        <div class="col-9" id="ref" style="width: 50%;">{{leader}} {{leader_id}}</div>
    </div>
    {% for teamreg in teamreg  %}
    <div class="row">
        <div class="col-3">Member {{forloop.counter}} :</div>
        <div class="col-9" id="ref" style="width: 50%;">{{teamreg.receiver}} | Status : {{teamreg.status}}</div>
    </div>
      
    
    {% endfor %}
</div>

<div class="r">Form Your Team</div>
<form action="team" method="post">
    {% csrf_token %}
    <div class="a">
        <div class="row">
            <div class="col-3">
                <label for="">Team Name</label>
            </div>
            <div class="col-9">
                <input type="text" name="teamname" id="tac">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="">Team Leader</label>
            </div>
            <div class="col-9">
                <input type="text" name="teamleader" value="{{name}}" id="tac">
                <label for="">CR ID</label>
                <input type="text" name="crid1" value="{{cr_id}}" id="tac">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="">Team Member</label>
            </div>
            <div class="col-9">
                <input type="text" name="member2" id="tac">
                <label for="">CR ID</label>
                <input type="text" name="crid2" id="tac">

            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="">Team Member</label>
            </div>
            <div class="col-9">
                <input type="text" name="member3" id="tac">
                <label for="">CR ID</label>
                <input type="text" name="crid3" id="tac">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="">Team Member</label>
            </div>
            <div class="col-9">
                <input type="text" name="member4" id="tac">
                <label for="">CR ID</label>
                <input type="text" name="crid4" id="tac">
            </div>
        </div>
        <button type="submit" id="blog-bt">Submit</button>
    </div>
</form>



{% endif %}



{% endblock content %}